@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.inputType {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

input[type=text]:focus {
  border: 8px solid #0d6efd;
}

.h2Black {
  color: black;
}

.img {
  width: 100px;
}

.card {
  width: fit-content;
  display: flex;
  padding: 79px;
  align-items: center;
  box-shadow: 1px -1px 15px 17px #3f779b;
  margin: auto;
  border: none;
}

.dateCss{
    margin-top: 20px;
}

.DateRangePickerInput__withBorder{
  border-radius: 6px;
    border: 5px solid #392f2f;
}